* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-image: linear-gradient(to top, #151515 10%, #323232 60%);
}

.nav {
    background-color: rgba(0, 0, 0, 0.0);
    transition: background-color 0.3s linear;
    list-style: none;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 94%;
}

.nav-flex-item {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-weight: 700;
    font-size: 20px;
    list-style: none;
}

.nav-flex-item a {
    text-decoration: none;
    color: white;
}

.header {
    background-image: url(../Assets/serie-1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: color;
    background-position: center top;
    color: rgba(255, 255, 255, 0.90);
    display: flex;
    height: 78vw;
}

.title-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.title-container h1 {
    font-size: 2.5vw;
}

.title-container img {
    height: 30vw;
}