header {
    background-repeat: no-repeat; 
    background-size: cover;
}

.actor {
    cursor: pointer;
}

.card {
    transition: .3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.bb {
    background-image: linear-gradient(to bottom, rgba(21, 21, 21, 0.50) 10%, rgba(51, 51, 51, 0.0) 80%), url(../Assets/serie-1.png); 
}

.bcs {
    background-image: linear-gradient(to bottom, rgba(21, 21, 21, 0.50) 10%, rgba(51, 51, 51, 0.0) 80%), url(../Assets/serie-2.png); 
}

.BO-bg {
    background-image: linear-gradient(to bottom, rgba(21, 21, 21, 0.50) 10%, rgba(51, 51, 51, 0.0) 80%), url(../Assets/BO.png);
}

.JB-bg {
    background-image: linear-gradient(to bottom, rgba(21, 21, 21, 0.50) 10%, rgba(51, 51, 51, 0.0) 80%), url(../Assets/JB.png);
}